<div class="page-container">
    <div class="content" style="background: #f5f5f5; position:top; top:0; right:0; bottom:0; left:0;">
        <app-header></app-header>
    </div>
    
    <div class="navbar" style="background: rgb(152, 211, 16);">
        <!-- <app-navbar></app-navbar> -->
    </div>
    <br>
    <div class="content" style="position:top; right:0; bottom:0; left:0;">
        <router-outlet></router-outlet>
    </div>
</div>