<header>
      <div class="col-sm" style="text-align: left;">
        <h1 class="title">RICK & MORTY...</h1>
      </div>
      <div class="col-sm" style="text-align: right; margin-top: 10;">
        <img src="../../../../assets/img/rym.jfif" width="150px">
      </div>
</header>