header {
    width: 100%;
    padding: 1em;
    font-size: 100%;
    top: 100vh;
    left: 0;
    transition: opacity .2s ease-in-out;
    text-align: center;
    background-color: black;
  }

  header h1 {
    font-weight: 600;
    display: inline;
    margin-top: 50px;
    padding: 0;
    font-size: 60px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #4ae23c;
  }

  .title{
    float:left;
    position: absolute;
    }
  
  .imgTitle{
    float:left;
    }